<% include ./layout/header.ejs %>

<div class="main p-3">
    <h2 class='text-center'>Welcome Admin, Here you can Upload a Product</h2>
    <div class="row" style="width:80%; margin: auto; padding: 10px">
        
        <div class="card col-md-4" style="width: 18rem; margin: auto;">
            <img class="card-img-top"  src="https://live.staticflickr.com/812/40058571715_27bbdfe9db_b.jpg"/>
            <div class="card-body">
                <h4 class="card-title">
                        Animal
                </h4>
                <p class="card-text">
                    
                </p-card-text>
                <a href="/admin/uploadAnimal" class="btn btn-primary">Upload an Animal Product</a>
            </div>
        </div>

        <div class="card col-md-4" style="width: 18rem; margin: auto;">
            <img class="card-img-top"  src="http://www.pakistanfishing.com/wp-content/uploads/2011/04/Fish-Marketplace.jpg" />
            <div class="card-body">
                <h4 class="card-title">
                        Fishery
                </h4>
                <p class="card-text">
                    
                </p-card-text>
                <a href="/admin/uploadFishery" class="btn btn-primary">Upload a Fishery Product</a>
            </div>
        </div>

        <div class="card col-md-4" style="width: 18rem; margin: auto;">
            <img class="card-img-top"  src="http://leadership.ng/wp-content/uploads/2018/01/FRUITS.jpg"/>
            <div class="card-body">
                <h4 class="card-title">
                        Fruit Category
                </h4>
                <p class="card-text">
                    
                </p-card-text>
                <a href="/admin/uploadFruit" class="btn btn-primary">Upload a Fruit Product</a>
            </div>
        </div>

        <div class="card col-md-4" style="width: 18rem; margin: auto;">
            <img class="card-img-top"  src="https://wholegrainscouncil.org/sites/default/files/styles/teaser/public/thumbnails/image/GrainStrip1400.jpg?itok=nPvRCOm9"/>
            <div class="card-body">
                <h4 class="card-title">
                        Grain Category
                </h4>
                <p class="card-text">
                    
                </p-card-text>
                <a href="/admin/uploadGrain" class="btn btn-primary">Upload a Grain Product</a>
            </div>
        </div>

        <div class="card col-md-4" style="width: 18rem; margin: auto;">
            <img class="card-img-top"  src="https://foursite-pape-production.s3.amazonaws.com/agriculture.papemachinery.com/443ce80d-4def-425a-91b9-76173ad7cc85_FIXED_WIDTH_1400.jpg"/>
            <div class="card-body">
                <h4 class="card-title">
                        Equipment
                </h4>
                <p class="card-text">
                    
                </p-card-text>
                <a href="/admin/uploadEquipment" class="btn btn-primary">Upload Equipment</a>
            </div>
        </div>

        <div class="card col-md-4" style="width: 18rem; margin: auto;">
            <img class="card-img-top"  src="https://accountingsoftware.com.ng/wp-content/uploads/2017/07/Deploying-QuickBooks-For-A-Poultry-Farmers.jpg"/>
            <div class="card-body">
                <h4 class="card-title">
                        Poultry
                </h4>
                <p class="card-text">
                    
                </p-card-text>
                <a href="/admin/uploadPoultry" class="btn btn-primary">Upload a Poultry Product</a>
            </div>
        </div>

        <div class="card col-md-4" style="width: 18rem; margin: auto;">
            <img class="card-img-top"  src="https://www.indiancrofters.com/images/services/Agricultural%20Technology%20implementation.jpg"/>
            <div class="card-body">
                <h4 class="card-title">
                        Services
                </h4>
                <p class="card-text">
                    
                </p-card-text>
                <a href="/admin/uploadService" class="btn btn-primary">Publicize Service</a>
            </div>
        </div>

        <div class="card col-md-4" style="width: 18rem; margin: auto;">
            <img class="card-img-top"  src="https://guardian.ng/wp-content/uploads/2017/02/yam.jpg"/>
            <div class="card-body">
                <h4 class="card-title">
                        Tubers Category
                </h4>
                <p class="card-text">
                    
                </p-card-text>
                <a href="/admin/uploadTuber" class="btn btn-primary">Upload a Tuber Product</a>
            </div>
        </div>

        <div class="card col-md-4" style="width: 18rem; margin: auto;">
            <img class="card-img-top"  src="http://blog.timesunion.com/payitforward/files/2011/01/tomato_plants-631.jpg"/>
            <div class="card-body">
                <h4 class="card-title">
                        Vegetable Category
                </h4>
                <p class="card-text">
                    
                </p-card-text>
                <a href="/admin/uploadVegetable" class="btn btn-primary">Upload a Vegetable Product</a>
            </div>
        </div>

        <div class="card col-md-4" style="width: 18rem; margin: auto;">
            <img class="card-img-top"  src="https://ak9.picdn.net/shutterstock/videos/7553389/thumb/1.jpg"/>
            <div class="card-body">
                <h4 class="card-title">
                        Other Category
                </h4>
                <p class="card-text">
                    
                </p-card-text>
                <a href="/admin/uploadOther" class="btn btn-primary">Upload</a>
            </div>
        </div>
       

   
        

    </div>

</div>

<% include ./layout/footer.ejs %>